<div class="browse-pictures-container">
  <div class="header">
    <h1>Your Photos</h1>
    <p>View your daily selfies</p>
  </div>

  <div class="photos-grid" *ngIf="photos.length > 0">
    <div class="photo-item" *ngFor="let photo of photos" (click)="openPhoto(photo)">
      <img [src]="getPhotoDataUrl(photo)" [alt]="'Photo from ' + (photo.timestamp | date:'short')" *ngIf="getPhotoDataUrl(photo)">
      <div class="photo-loading" *ngIf="!getPhotoDataUrl(photo)">Loading...</div>
      <div class="photo-date">{{ photo.timestamp | date:'MMM d, y' }}</div>
    </div>
  </div>

  <div class="empty-state" *ngIf="photos.length === 0">
    <svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 19V5C21 3.9 20.1 3 19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19ZM8.5 13.5L11 16.51L14.5 12L19 18H5L8.5 13.5Z" fill="#8e8e93"/>
    </svg>
    <h2>No photos yet</h2>
    <p>Take your first daily selfie to get started!</p>
  </div>
</div>